#go-back-text {
  color: var(--todo-background-800);
  font-weight: bold;
  cursor: pointer;
}
#todos-empty-header {
  border-top: 0.4375rem double var(--todo-primary-200);
  border-bottom: 0.4375rem double var(--todo-primary-200);
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  color: var(--todo-primary-600);
  font-weight: 200;
  font-size: 1.5rem;
  letter-spacing: -0.0313rem;
  line-height: 1.2;
  margin: 0 1rem;
  margin-top: 3rem;
}
#todos-empty-header:hover {
  border-top: 0.4375rem double var(--todo-primary-400);
  border-bottom: 0.4375rem double var(--todo-primary-400);
  color: rgb(120 240 100);
  box-shadow: -0.5rem 2rem 1.25rem -2.1875rem rgba(0, 255, 0, 0.5),
    -0.5rem -2rem 1.25rem -2.1875rem rgba(0, 255, 0, 0.5),
    0.5rem 2rem 1.25rem -2.1875rem rgba(0, 255, 0, 0.5),
    0.5rem -2rem 1.25rem -2.1875rem rgba(0, 255, 0, 0.5),
    -0.5rem 2rem 1.25rem -2.1875rem rgba(0, 255, 0, 0.5) inset,
    -0.5rem -2rem 1.25rem -2.1875rem rgba(0, 255, 0, 0.5) inset,
    0.5rem 2rem 1.25rem -2.1875rem rgba(0, 255, 0, 0.5) inset,
    0.5rem -2rem 1.25rem -2.1875rem rgba(0, 255, 0, 0.5) inset;
}
